.App {
  font-family: sans-serif;
  text-align: center;
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.App .container {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  border-radius: 5px;
  padding: 30px 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #2a0163;
  max-width: 700px;
  max-height: fit-content;
  /* width: 700px; */
  background: linear-gradient(
    179deg,
    rgb(254, 241, 245) 0%,
    rgb(242, 237, 255) 100%
  );
}
