.Wethear .container {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px auto;
  border-radius: 5px;
  padding: 30px 0;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #2a0163;
  max-width: 700px;
  max-height: fit-content;
  /* width: 700px; */
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}

/* Enter a city */
.form {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

/* City, day, t */
.search-city {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Current weather */
.current-weather {
  margin-bottom: 40px;
  height: 100px;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.current-weather h2 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 0;
}

.indicators {
  line-height: 1em;
}

.indicators p {
  font-weight: 400;
}

.celsium,
.fahrenheit {
  font-size: 26px;
}

.celsium a,
.fahrenheit a {
  text-decoration: none;
}

.fahrenheit,
.celsium {
  cursor: pointer;
}

.current-weather .main {
  font-size: 70px;
  color: #f8a805;
  padding: 0;
}

.temperature {
  line-height: 1.5em;
}

.openSourceLink a {
  text-decoration: none;
}
